<h1 ng-bind="title"></h1>

  <button data-toggle="modal" data-target="#addNewsModal" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add News</button>
  

<div class="col-md-12">
    <div class="col-md-4" ng-repeat="post in posts track by $index">
        <h2 ng-bind="post.title" class="text-primary"></h2>
        <h5>
            <span ng-bind="post.author" class="text-muted"></span>
            <span ng-bind="post.postDate" class="text-muted"></span>
        </h5>
        <p ng-bind="post.body" class="text-capitalize"></p>
        <button ng-click="deleteNews(post)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
    </div>
</div>

<div ng-include="'Views/Partials/AddNewsModal.html'"></div>